header {
        color : white;
        height :70px;
        width : 100%;
	border-bottom : 1px solid #CCCCCC;
}
.logo {
        vertical-align: middle;
        left : 0;
        margin-left : 20px;
        background: url('../images/logo.png') no-repeat center center;
        background-size: cover;
        position: relative;
        height: 70px;
        width: 180px;
}
