header {
        color : white;
        height :70px;
        width : 100%;
	border-bottom : 1px #CCCCCC;
}
header.logo{
	vertical-align: middle;
	display: table-cell;
	left : 0;
	margin-left : 20px;
}
